#define DS_MODALFRAME         0x80L
#define DS_CENTER             0x0800L

#define WS_CAPTION            0x00C00000L
#define WS_POPUP              0x80000000L
#define WS_SYSMENU            0x00080000L

#define WS_EX_TOOLWINDOW      0x00000080L

#define IDOK                1
#define ID_DLG              100
#define ID_GROUP            1001
#define ID_CHANGE           1002

ID_DLG DIALOGEX 0, 0, 115, 73
STYLE
      DS_MODALFRAME |
      DS_CENTER     |
      WS_POPUP      |
      WS_CAPTION    |
      WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "COM/Win32Asm - ITaskbarList"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,31, 56, 50, 14
    GROUPBOX        "",ID_GROUP,2, 3, 111, 47
    PUSHBUTTON      "",ID_CHANGE,5, 11, 104, 34
END
